@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
    --color-blueBg: #1A14CB
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-epilouge: "Epilogue", "sans-serif";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-epilouge)
}

@theme {
    --tracking-0: -0.06em;
    --tracking-1: -0.05em;
    --tracking-2: -0.03em;
    --tracking-3: -0.1em;
    --tracking-4: 0em;
    --tracking-5: 0.1em;
    --tracking-6: 0.2em;
    --tracking-7: 0.3em;
}

@font-face {
    font-family: Epilogue;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Epilogue.ttf")
}
